#
# CentralReport gitignore
#

# Compiled source #
###################
*.pyc

# Dependencies #
################
centralreport/libs/

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# CentralReport test files #
############################
# You can create your own test files or folders by prefixing by:
cr_test*
*/cr_test*

# Front assets #
################
bower_components/
node_modules/
centralreport/cr/web/static/
