/* 
    Document   : custom
    Created on : 9 mars 2012, 15:32:03
    Author     : che
    Description:
        CSS personnalisé pour YouFood.
*/


.custom_div_small_logo {
    float: left;
}

.custom_div_small_logo_titre_droite {
    
    float: left;
    padding-top: 25px;
    margin-left: 30px;
    
}

.custom_clear {
    clear: both;
}



.custom_align_right {
    text-align: right;
}


.custom_margin_top_plus_10 {
    margin-top: 10px;
}

.custom_margin_top_plus_20 {
    margin-top: 20px;
}